<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.clickhouse.mappers.AdmissionBirthCertificateMapper">

    <select id="findBySoSucKhoeSoSinh" resultType="com.example.clickhouse.models.DataNhi">
        SELECT
            p.hoTen AS ho_ten,
            p.ngaySinh AS ngay_sinh,
            p.gioiTinh AS gioi_tinh,
            p.maDanToc AS ma_dantoc,
            p.maQuocTich AS ma_quoctich,
            p.maNgheNghiep AS ma_nghe_nghiep,
            p.soCccd AS so_cccd,
            ac.maTheBhyt AS ma_the_bhyt,
            ac.maDkbd AS ma_dkbd,
            p.dienThoai AS dien_thoai,
            p.diaChi AS dia_chi,
            p.maTinhCuTru AS matinh_cu_tru,
            p.maHuyenCuTru AS mahuyen_cu_tru,
            p.maXaCuTru AS maxa_cu_tru,
            abc.soCccdNnd AS so_cccd_nguoi_giam_ho
        FROM iceberg.admision_birth_certificate abc
            ANY INNER JOIN iceberg.admision_checkin ac ON abc.admision_checkin_uuid = ac.id
            ANY INNER JOIN iceberg.patient p ON ac.patient_id = p.uuid
            ANY INNER JOIN iceberg.facility f ON ac.maCskb = f.ma_cskb
        WHERE abc.soCccdNnd = #{soCccd}
          AND f.ma_cskb = #{maCskcb}
            LIMIT 1
    </select>




</mapper>