<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.clickhouse.mappers.AdmissionBirthCertificateMapper">

    <select id="findBySoSucKhoeSoSinh" resultType="com.example.clickhouse.models.DataNhi">
        SELECT
            p.hoTen as ho_ten,
            p.ngaySinh as ngay_sinh,
            p.gioiTinh as gioi_tinh,
            p.maDanToc as ma_dantoc,
            p.maQuocTich as ma_quoctich,
            p.maNgheNghiep as ma_nghe_nghiep,
            p.soCccd as so_cccd,
            ac.maTheBhyt as ma_the_bhyt,
            ac.maDkbd as ma_dkbd,
            p.dienThoai as dien_thoai,
            p.diaChi as dia_chi,
            p.maTinhCuTru as matinh_cu_tru,
            p.maHuyenCuTru as mahuyen_cu_tru,
            p.maXaCuTru as maxa_cu_tru,
            abc.soCccdNnd as so_cccd_nguoi_giam_ho
        FROM
            iceberg.admision_birth_certificate abc
        inner join iceberg.admision_checkin ac on abc.admision_checkin_uuid = ac.id
        inner join iceberg.patient p on ac.patient_id = p.uuid
        inner join iceberg.facility f ON ac.maCskb = f.ma_cskb
        WHERE f.ma_cskb = #{maCskcb} and abc.soCccdNnd = #{soCccd}
    </select>




</mapper>