<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.clickhouse.mappers.ProcessFileMapper">

    <select id="findByUnitNameAndMaLk" resultType="com.example.clickhouse.dtos.datas.ProcessedFiles">
        SELECT
            pf.file_name as fileName,
            pf.directory as directory
            FROM iceberg.processed_files as pf
        WHERE pf.unit_name = #{unitName} AND pf.ma_lk = #{maLk}
    </select>


    <select id="findByUnitNameAndFileName" resultType="com.example.clickhouse.dtos.datas.ProcessedFiles">

        SELECT
            pf.file_name AS fileName,
            pf.directory AS directory
        FROM iceberg.processed_files AS pf
        WHERE
            pf.unit_name = #{maCSKCB}
            AND pf.file_name ILIKE '%${maTraCuu}%' -- nếu case-insensitive là cần thiết
        LIMIT 1
    </select>

</mapper>