<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" packages="gmedical.api.configuration">

    <Properties>
        <Property name="log-path">/var/logs/eid/cms</Property>
        <Property name="log-name">coreapi</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%5p %d{DEFAULT} [%15C{1}-%4L] Trace[%X{requestId}] User[%X{username}] - %m%n%exception"/>
        </Console>
        
        <RollingFile name="File" fileName="${log-path}/${log-name}.log" append="true"
                     filePattern="${log-path}/${log-name}-%d{yyyy-MM}/${log-name}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout charset="UTF-8" pattern="%5p %d{DEFAULT} [%15C{1}-%4L] Trace[%X{requestId}] User[%X{username}] - %m%n%exception"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="25 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10000" compressionLevel="9"/>
        </RollingFile>
        
        <Rewrite name="Rewrite">
            <SensitiveLogInterceptor />
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Rewrite>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Rewrite"/>
        </Root>
    </Loggers>
    
</Configuration>